  \cvskill
    { {{- escape_field(entry, 'category') -}} } % Type
    { {{- escape_field(entry, 'items') if entry.formatted and entry.formatted.get('items') else escape_latex(entry.items | join(', ')) -}} } % Skillset
